/*
Error: $color: "var(--bs-emphasis-color-rgb)" is not a color for `rgba'
        on line 746 of node_modules/bootstrap/scss/_variables.scss
        from line 8 of node_modules/bootstrap/scss/bootstrap.scss
        from line 6 of ./scss/custom.scss

Backtrace:
node_modules/bootstrap/scss/_variables.scss:746
node_modules/bootstrap/scss/bootstrap.scss:8
./scss/custom.scss:6
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:310:in `reformat_argument_error'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:149:in `rescue in _perform'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:122:in `_perform'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:472:in `visit_variable'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/jeffreyhann/.gem/ruby/3.1.3/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: \"var(--bs-emphasis-color-rgb)\" is not a color for `rgba'\A         on line 746 of node_modules/bootstrap/scss/_variables.scss\A         from line 8 of node_modules/bootstrap/scss/bootstrap.scss\A         from line 6 of ./scss/custom.scss"; }
